<link href="{{path}}/style/main.min.css" rel="stylesheet" type="text/css">
<script>
  ordrin = typeof ordrin==="undefined"?{}:ordrin;
  {{#data}}
    ordrin.menu = {{{data}}};
    ordrin.render = false;
  {{/data}}
  {{^data}}
  ordrin.rid = {{rid}};
  ordrin.render = true;
  {{/data}}
  ordrin.restaurantUrl = location.origin+"{{path}}/api";
  (function(){
    var ow = document.createElement('script'); ow.type = 'text/javascript'; ow.async = true;
    ow.src = '{{path}}/script/menu.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ow, s);  
  })();
</script>